

.opener{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;    
  }
  .card-opener{  
    perspective: 150rem;
    height: 20rem;
    width: 30rem;
    position: relative;
  }
  .card-opener>div {
    height: 15rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  }
  .card-opener>.card-front {  background-color: #1c1c1c; }
  .card-opener>.card-back { transform: rotateY(180deg); background-color: #1c1c1c;  }
  .card-opener:hover .card-front {    transform: rotateY(-180deg);  }
  .card-opener:hover .card-back { transform: rotateY(0deg);}
  .card-front > div{
    height: 15rem;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
  }
  .card-back > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
  }
  .card-back p {  margin-left: 1rem;  }
  .card-back p > .space { margin-left: 2rem;}
  .blue {  color: #29b6f6;  }
  .green {  color: #9ccc65; }
  .purple {  color: #ba68c8;  }
  .cyan {  color: #4dd0e1;  }
  .red {  color: #ef5350; }

  .opener .profile{
    width: 150px;
    object-fit: cover;
    box-shadow: 0 30px 60px -6px black;
    filter: grayscale(100%);
    border-radius: 50%;  
  }
  .opener .profile:hover{
    filter: grayscale(0);
    transition: 1s linear all;
  }
  .space{ margin-left: 20px;  }

  .opener-mobile{
    display: none;
    justify-content: center;
    color: white;
    padding-bottom: 5em;
  }
  .opener-mobile .card__cta{
    padding:20px;
    margin:0 10px;
    border-radius: 5px;
    background-color: #1c1c1c;
  }
  
@media screen and (max-width:768px) {
    .opener-mobile{   display: block;    }
    .opener{  display: none;    }
}